p {
    font-size: 0.9rem;
    padding-top: 5pt;
}

a {
    font-size: 0.9rem;
    color: #3c027d;
    text-decoration: none;
}

a:visited {
    font-size: 0.9rem;
    color: #3c027d;
    text-decoration: none;
}

a:active {
    font-size: 0.9rem;
    color: #3c027d;
    text-decoration: none;
}

a:hover {
    font-size: 0.9rem;
    background-color: #3c027d;
    color: #ffffff;
    /*   font-weight: bold; */
}

/* img {
    border-radius: 50%;
    max-width: 50%;
    justify-content: center;
} */


/* Our default values set as CSS variables */
:root {
    /*   --color-bg: #FFFFFF;
    --color-text-main: #000000;
    --color-primary: #FFFF00; */
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

/* Import fonts */
@font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027") format("opentype");
}

@font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437") format("opentype");
}


.divider {
    padding: 0 1rem;
}

body {
    font-family: "HK Grotesk", sans-serif;
    background-color: #ffffff;
    color: #434343;
}


.dark-mode {
    background-color: black;
    color: white;
}

/* Page structure */
.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    margin: 0 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Very light scaling for our illustration */
.title {
    color: #000000;
    font-family: "HK Grotesk", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 105%;
    margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
    max-width: 100%;
    max-height: var(--image-max-width);
    margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
    margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
    font-family: inherit;
    font-size: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 500ms;
}

/* Subheading */
h2 {
    color: #000000;
}

/* Interactive image */
.illustration:active {
    transform: translateY(5px);
}

.column {
    float: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}

/* Clear floats after the columns */
.row {
    content: "";
    display: table;
    clear: both;
    height: 200px;
    margin: auto;
    width: 70%;
    max-width: 1300px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 30px;
    border-radius: 50%;
}

.footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.kiri a {
    margin-right: 10px;
}

@media only screen and (max-width: 576px) {
    .row {
        width: 100%;
    }

    .centerimg {
        width: 40%;
    }

    .centerimg {
        margin-bottom: 0;
    }

    .column {
        padding: 0;
    }

    p {
        margin-bottom: .1em;
    }

    .content {
        display: block;
    }

    .footer {
        flex-direction: column;
    }

    h2 {
        margin: 10px 0 0 0;
    }

    p {
        margin: 0;
    }
}